<ul style="list-style: none !important; font-weight: bold">
  <li style="list-style-type: none">
    <ul style="list-style: none !important; font-weight: bold">
      <li
        style="
          padding-bottom: 16px;
          font-size: 14px !important;
          background: #584879;
          color: white !important;
          padding: 6px !important;
          margin-bottom: 10px;
        "
      >
        <a
          class=""
          style="padding: 7px; color: #ffffff !important"
          href="/imenik"
          ><i class="icon-phone" style="color: #ffffff !important"></i>
          <span class="">Imenik</span></a
        >
      </li>
      <li
        style="
          padding-bottom: 16px;
          font-size: 14px !important;
          background: #584879;
          color: white !important;
          padding: 6px !important;
          margin-bottom: 10px;
        "
      >
        <a
          class=""
          style="padding: 7px; color: #ffffff !important"
          href="http://intranet/vazni-kontakti-i-posebna-zaduzenja/"
          ><i class="icon-vcard" style="color: #ffffff !important"></i
          ><span class=""> Važni kontakti i posebna zaduženja</span></a
        >
      </li>
    </ul>
  </li>
</ul>
<!--
    <li style="padding-bottom: 16px; font-size: 14px !important; background: #584879; color: white !important; padding: 6px !important; margin-bottom: 10px;"><a class="" style="padding: 7px; color: #ffffff !important;" href="http://intranet/calendar"><i class="icon-clock" style="color: #ffffff !important;"></i><span class=""> Rezervacija prostorija</span></a></li>
-->
<ul style="list-style: none !important; font-weight: bold">
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="http://intranet/download/Kalendar_2024_RT-RK.pdf"
      target="_blank"
      rel="noopener"
      ><i class="icon-calendar" style="color: #ffffff !important"></i
      ><span class=""> Radni kalendar 2024</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a class="" style="padding: 7px; color: #ffffff !important" href="/forum"
      ><i class="icon-users" style="color: #ffffff !important"></i
      ><span class=""> Forum</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="/ljudski-resursi/biblioteka/"
      target="_blank"
      rel="noopener"
      ><i class="icon-book" style="color: #ffffff !important"></i
      ><span class=""> Biblioteka</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="/feed"
      target="_blank"
      rel="noopener"
      ><i class="icon-rss" style="color: #ffffff !important"></i
      ><span class=""> RSS feed</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="/putno-osiguranje"
      target="_blank"
      rel="noopener"
      ><i class="icon-plane" style="color: #ffffff !important"></i
      ><span class=""> PUTNO OSIGURANJE</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="http://intranet/download/Classic grupa - troskovni centri 09-23.pdf"
      target="_blank"
      rel="noopener"
      ><i class="icon-money-line" style="color: #ffffff !important"></i
      ><span class=""> Troškovni centri RT-RK</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="http://intranet/download/Oblo living troškovni centri 09-23.pdf"
      target="_blank"
      rel="noopener"
      ><i class="icon-money-line" style="color: #ffffff !important"></i
      ><span class=""> Troškovni centri Oblo living</span></a
    >
  </li>
  <li
    style="
      padding-bottom: 16px;
      font-size: 14px !important;
      background: #584879;
      color: white !important;
      padding: 6px !important;
      margin-bottom: 10px;
    "
  >
    <a
      class=""
      style="padding: 7px; color: #ffffff !important"
      href="/download/Cost centri TTTech Auto CEE_final05-06-23 new.pdf"
      target="_blank"
      rel="noopener"
      ><i class="icon-money-line" style="color: #ffffff !important"></i
      ><span class=""> Troškovni centri TTTech Auto</span></a
    >
  </li>
</ul>
