.expired-payments {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid var(--silver);
  border-radius: 4px;
  background-color: var(--dustStorm);
}
.expired-payments-header h6 {
  font-size: 18px;
  font-weight: 400;
}
.expired-payments .exp-date {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expired-payments .payment-id {
  font-size: 14px;
  font-weight: 400;
  padding: 2px 8px;
}
