.show-users {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  overflow-x: auto;
  background-color: rgba(194, 207, 178, 0.5);
}

/* List image */
.users-list-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}
.users-list-image-sm {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
