.user-image {
  justify-self: flex-start;
  padding-top: 7px;
}

.user p {
  font-size: 16px;
  color: var(--independance);
  font-weight: 500;
}

.user-name {
  /*   justify-self: start;
  width: 20%; */
}
.user-name h3 {
  text-align: left;
  font-weight: 400;
  color: var(--independance);
  font-size: 20px;
}
.user-phone {
  width: 15%;
}
.user-email {
  width: 20%;
}
.user .user-rank {
  justify-self: flex-start;
  width: 5%;
}
.user-status {
  margin-left: auto;
  width: 15%;
  text-align: center;
}
.user-action {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 22px;
  /*  width: 15%; */
}
.user-action a svg {
  transform: translateY(-2px);
}
@media screen and (max-width: 768px) {
  .user-action {
    width: 100%;
    justify-content: center;
  }
}

/* New code */

.user-item {
  display: flex;
  align-items: center;
}
.user-item:hover {
  background-color: red;
}
